BasedOnStyle:                     LLVM
AlignConsecutiveAssignments:      true
AlignConsecutiveDeclarations:     true
AllowAllArgumentsOnNextLine:      false
AlignAfterOpenBracket:            Align
AccessModifierOffset:             -4
AlwaysBreakTemplateDeclarations:  true
BinPackArguments:                 false 
BinPackParameters:                false
BreakStringLiterals:              true
ColumnLimit:                      72
ContinuationIndentWidth:          2
Cpp11BracedListStyle:             false
ExperimentalAutoDetectBinPacking: true
IndentCaseLabels:                 false
IndentWidth:                      4
Language:                         Cpp
NamespaceIndentation:             All
PenaltyBreakAssignment:           200
PointerAlignment:                 Left
ReflowComments:                   true
SortIncludes:                     true
SpacesInContainerLiterals:        true
Standard:                         Auto
UseTab:                           ForIndentation
